<!-- delete.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
</head>
<body>
    <h1>Delete an existing input.</h1>
    <!-- Form for searching a specific website -->
    <form method="POST">
        <input type="text" name="search" placeholder="Enter website" required>
        <input type="submit" name="button" value="Search"><br><br>
    </form>
    <!-- Form for navigating back to the menu -->
    <form method="POST">
        <button type="submit" name="button" value="back">Back to Menu</button>
    </form>
    {% if search_clicked %}
        {% if entries %}
            <!-- Instruction for the user -->
            <h4>Click the number you want to delete:</h4>
            <!-- Display the searched website -->
            <div>Website: {{ search_term }}</div>
            <!-- Form for deleting an entry -->
            <form method="POST">
                <!-- Loop through each entry and display the email and password -->
                {% for entry in entries %}
                    <!-- Button for deleting the entry -->
                    <div style="margin-left: 55px;"><button type="submit" name="button" value="{{ entry.id }}">{{ loop.index }}</button> Email: {{ entry.email }}</div>
                    <div style="margin-left: 82.5px;">Password: {{ entry.password }}</div>
                    <br>
                {% endfor %}
            </form>
        {% else %}
            <!-- Display a message when the website is not found -->
            <h4>Website not found!</h4>
        {% endif %}
    {% endif %}
</body>
</html>