<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
</head>
<body>
    <h1>Password Manager</h1>
    <div>
        <!-- Display dynamic messages to the user -->
        <h3>{{ message }}</h3>
    </div>
    <div>
        <!-- Form for user interactions -->
        <form method="POST">
            <div><input type="submit" name="button" value="1"> Add a Password, Email, and Name of Website.</div>
            <br>
            <div><input type="submit" name="button" value="2"> View all inputs.</div>
            <br>
            <div><input type="submit" name="button" value="3"> Search for a specific input.</div>
            <br>
            <div><input type="submit" name="button" value="4"> Delete an existing input.</div>
            <br>
            <div><input type="submit" name="button" value="5"> Update a specific input.</div>
        </form>
    </div>
</body>
</html>