<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
</head>
<body>
    <h2>Add New Password</h2>
    <form action="/add" method="post">
        Website: <input type="text" name="website" required><br>
        Email: <input type="email" name="email" required><br>
        Password: <input type="text" name="password" required><br>
        <input type="submit" value="Add">
    </form>
    
    <h2>Stored Passwords</h2>
    <ul>
        {% for password in passwords %}
        <li>
            Website: {{ password.website }}, Email: {{ password.email }}, Password: {{ password.password }}
            <form action="/update/{{ password.id }}" method="post" style="display: inline;">
                Website: <input type="text" name="website" value="{{ password.website }}">
                Email: <input type="email" name="email" value="{{ password.email }}">
                Password: <input type="text" name="password" value="{{ password.password }}">
                <input type="submit" value="Update">
            </form>
            <a href="/delete/{{ password.id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>